<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Vue.js SPAのためのサンプルアプリケーション</title>
    </head>
    <body>
        <div id="app">
            <router-link to="/top">トップページ</router-link>
            <router-link to="/users">ユーザー一覧ページ</router-link>
            <router-link to="/users/new?redirect=true">新規ユーザー登録</router-link>
            <router-link to="/login" >ログイン</router-link>
            <router-link to="/logout" >ログアウト</router-link>
            <router-view></router-view>
        </div>

        <!-- ライブラリ -->
        <script src="https://unpkg.com/vue@2.5.17"></script>
        <script src="https://unpkg.com/vue-router@3.0.1"></script>
        
        <!-- テンプレート定義 -->
        <script type="text/x-template" id="user-list">
            <div>
                <div class="loading" v-if="loading">読み込み中...</div>
                <div class="error" v-if="error">
                    {{ error }}
                </div>
                <h3 v-if="!loading">
                    <router-link :to="{name:'new'}">【新規ユーザー登録】</router-link>
                </h3>
                <!-- usersがロードされたら各ユーザの名前を表示する -->
                <div v-for="user in users" :key="user.id">
                    <h2>
                        <router-link :to="{name:'users',params:{userId: user.id}}">{{ user.name }}</router-link>
                    </h2>
                </div>
            </div>
        </script>

        <script type="text/x-template" id="user-create">
            <div>
                <div>
                    <div class="sending" v-if="sending">Sending...</div>
                </div>
                <div>
                    <h2>新規ユーザー登録</h2>
                    <div>
                        <label>名前　：</label>
                        <input type="text" v-model="user.name">
                    </div>
                    <div>
                        <label>説明文：</label>
                        <textarea v-model="user.description"></textarea>
                    </div>
                    <div v-if="error" class="error">
                        {{ error }}
                    </div>
                </div>
                <div>
                    <input type="button" @click="createUser" value="送信">
                </div>
            </div>
        </script>

        <script type="text/x-template" id="user-detail">
            <div>
                <div class="loading" v-if="loading">読み込み中...</div>
                <div class="error" v-if="error">
                    {{ error }}
                </div>
                <div v-if="user">
                    <h2>{{ user.name }}</h2>
                    <h2>{{ user.description }}</h2>
                </div>
            </div>
        </script>

        <script type="text/x-template" id="login">
            <div>
                <h2>Login</h2>
                <p >
                    ログインしてください
                </p>
                <form @submit.prevent="login">
                    <label><input v-model="email" placeholder="email"></label>
                    <label><input v-model="pass" placeholder="password" type="password"></label>
                    <br>
                    <button type="submit">ログイン</button>
                    <p v-if="error" class="error">ログインに失敗しました</p>
                </form>
            </div>
        </script>
        
        <!-- ルーター & コンポーネント & Vueインスタンス-->
        <script>
            var getUsers = function (callback) {
                setTimeout(function () {
                    callback(null, userData)
                },1000)
            }

            var userData = [
                {
                    id: 1,
                    name: 'Takuya Tejima',
                    description: '東南アジアで働くエンジニアです。'
                },
                {
                    id: 2,
                    name: 'Yohei Noda',
                    description: 'アウトドア・フットサルが趣味のエンジニアです。'
                }
            ]

            // 擬似API
            var getUser = function (userId, callback) {
                setTimeout(function () {
                    var filterdUsers = userData.filter(function (user) {
                        return user.id === parseInt(userId, 10)
                    })
                    callback(null, filterdUsers && filterdUsers[0])
                },1000)
            }

            var Auth = {
                login: function (email, pass, cb) {
                    setTimeout(function () {
                        if (email === 'vue@example.com' && pass === 'vue') {
                            // ログイン成功時はローカルストレージにtokenを保存
                            localStorage.token = Math.random().toString(36).substring(7)
                            if (cb) { cb(true) }
                        } else {
                            if (cb) { cb(false) }
                        }
                    }, 0)
                },

                logout: function () {
                    delete localStorage.token
                },

                loggedIn: function() {
                    return !!localStorage.token
                }
            }

            var postUser = function (params, callback) {
                setTimeout(function() {
                    params.id = userData.length + 1
                    alert(JSON.stringify(params))
                    userData.push(params)
                    callback(null, params)
                }, 1000)
            }

            var UserList = {
                template: '#user-list',
                data: function (){
                    return {
                        loading: false,
                        users: function () {return []},
                        error: null
                    }
                },

                // 初期化時にデータ取得
                created: function() {
                    this.fetchData()
                },

                watch: {
                    '$router': 'fetchData'
                },

                methods: {
                    fetchData: function () {
                        this.loading = true
                        // 取得したデータの結果をusersに格納する
                        // Function.prototype.bindはthisのスコープを渡す
                        getUsers((function (err,users) {
                            this.loading = false
                            if (err) {
                                this.error = err.toString()
                            } else {
                                this.users = users
                            }
                        }).bind(this))
                    }
                }
            }

            var UserCreate = {
                template: '#user-create',
                data: function () {
                    return {
                        sending: false,
                        user: this.defaultUser(),
                        error: null
                    }
                },

                created: function () {
                },

                methods: {
                    defaultUser: function (){
                        return {
                            id: '',
                            name: '',
                            description: ''
                        }
                    },

                    createUser: function() {
                        //  バリデーション
                        if (this.user.name.trim() === '') {
                            this.error = 'Nameは必須です'
                            return
                        }
                        if (this.user.description.trim() === '') {
                            this.error = 'Descriptionは必須です'
                            return
                        } 

                        postUser(this.user, (function(err, user){
                            this.sending = false
                            if (err) {
                                this.error = err.toString()
                            } else {
                                this.error = null
                                this.user = this.defaultUser()
                                alert('新規ユーザーが登録されました')
                                // ユーザー一覧ページに戻る
                                this.$router.push('/users')
                            }
                        }).bind(this))
                    }
                }
            }

            var UserDetail = {
                template: '#user-detail',
                data: function () {
                    return {
                        loading: false,
                        user: null,
                        error: null
                    }
                },

                created: function() {
                    this.fetchData()
                },

                watch: {
                    '$route': 'fetchData()' 
                },

                methods: {
                    fetchData: function () {
                        this.loading = true
                        getUser(this.$router.params.userId, (function (err, user) {
                            this.loading = false
                            if (err) {
                                this.error = err.toString()
                            } else {
                                this.user = user
                            }
                        }).bind(this))
                    } 
                }
            }

            var Login = {
                template: '#login',
                data :function () {
                    return {
                        email: 'vue@example.com',
                        pass: '',
                        error: false
                    }
                },

                methods: {
                    login: function () {
                        Auth.login(this.email, this.pass, (function (loggedIn) {
                            if (!loggedIn) {
                                this.error = true
                            } else {
                                // redirectパラメータがついてる場合はそのパスへ遷移
                                this.$router.replace(this.$route.query.redirect || '/')
                            }
                        }).bind(this))
                    }
                }
            }

            var router = new VueRouter({
                routes: [
                    {
                        path: '/top',
                        component: {
                            template :'<div>トップページです。</div>'
                        }
                    },
                    {
                        path: '/users',
                        component: UserList
                    },
                    {
                        path: '/users/new',
                        name: 'new',
                        component: UserCreate,
                        beforeEnter: function (to, from, next) {
                            // 認証処理
                            if (!Auth.loggedIn()) {
                                next({
                                    path: '/login',
                                    query: { redirect: to.fullPath }
                                })
                                alert('ログイン')
                            } else {
                                // 認証済みであればそのままGO
                                next()
                            }
                        }
                    },
                    {
                        path: '/users/:userId',
                        name: 'users',
                        component: UserDetail
                    },
                    {
                        path: '/login',
                        component: Login
                    },
                    {
                        path: '/logout',
                        beforeEnter: function (to, from, next) {
                            Auth.logout()
                            next('/')
                            alert('ログアウト')
                        }
                    }
                ]
            })

            var app = new Vue({
                el:"#app",
                router: router
            })
        </script>
    </body>
</html>